<div class="iphone"> </div>
<div class="iphone"> </div>

<div class="row">
  <div class="col">
    <div class="iphone"> </div>
  </div>
  <div class="col">
    <div class="iphone"> </div>
  </div>
  <div class="col">
    <div class="iphone"> </div>
  </div>
</div>


